<% if @author.errors.any? %>
  <div class="bg-danger col-xs-12">
    <ul class="list-unstyled">
      <% @author.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @author do |f| %>

  <div>
    <%=f.label :name %>
    <%=f.text_field :name %>
  </div>

  <div>
    <%=f.label :bio %>
    <%=f.text_area :bio %>
  </div>

  <div>
    <%= f.label :avatar %>
    <%= f.text_field :avatar %>
  </div>

  <div>
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
